<ion-app>

  <div id="divSuperPuesto" [style.display]="mostrarSplash ? 'flex' : 'none'">


    <div id="divSplash">

      
        <h1 id="nombreApp" class="animate__bounceIn animate__animated">Relevamiento Visual</h1>
      


      <img id="escudo" class="animate__zoomInUp animate__animated" src="../assets/svg/icon.png">


      <h1 id="alumnoDivision" class="animate__bounceInLeft animate__animated">Joaquin Enriquez | 4ºB</h1>


    </div>






  </div>
  <ion-router-outlet></ion-router-outlet>
</ion-app>