.botonesPrincipales {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;

}


.filas {
  height: 50%;
}

.grilla
{
  height: 100%;
  margin: 0;
  padding: 0;
}

.icono {
  font-size: 2000%;


}

.labelBotonCosasLindas {
  // color: #fff;
  font: normal 35px 'Billabong',serif;
  //font-family: 'Pacifico';
  text-shadow: 3px 3px 0 #000;
  margin: 0.5em 0 0;  


}

@keyframes cambia-color{
  0%{
      background-position: 0%, 50%;
  }
  
  50%{
      background-position: 100%, 50%;
  }
  
  100%{
      background-position: 0%, 100%;
  }
}


.labelBotonCosasFeas{
  font: normal 35px 'Billabong',serif;
  text-shadow: 3px 3px 0 #000;
  margin: 0.5em 0 0;
}


@font-face {
  font-family: 'Pacifico';
  src: url('../../../assets/fonts/Pacifico-Regular.ttf');//mine
}

@font-face {
  font-family: 'Billabong';
  src: url('../../../assets/fonts/Billabong.ttf');//mine
}





